body {
}

@media only screen and (min-width: 1024px) {

  #row2 {
    display: none;
  }

.priceDiv {
  display: none;
}
.cart {
  padding-left: 8%;
  padding-right: 8%;
  min-height: 880px;
}

.top {
  padding-top: 50px;
  text-align: center;
}

.ammount div {
  padding: 0px 5px 0px 5px;
}

.back-button button {
  position: absolute;
  top: 145px;
  left: 4%;
  width: 100px;
  padding: 15px 0;
  border: 0;
  border-radius: 25px;
  outline: none;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
}

.back-button button:hover {
  cursor: pointer;
  color: #225AEA;
  background-color: #F2F6FF;
}

.bottom {
  display: flex;
}

.left {
  width: 60%;
}

.flex {
  display: flex;
  align-items: center;
}

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .td {
      text-align: center;
    }

    .thumbnail img {
        width: 150px;
    }

    .product-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-actions {
        display: flex;
        justify-content: center;
    }

    .minus-btn,
    .plus-btn {
        background-color: #ffffff;
        border: none;
        padding: 5px 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .ammount {
      width: 25px;
    }

    .minus-btn:hover,
    .plus-btn:hover {
        background-color: #e0e0e0;
    }

    .view-product {
        color: #0366d6;
        text-decoration: none;
    }

    .view-product:hover {
        text-decoration: underline;
    }


.right {
  width: 40%;
}

.blue {
  color: #225AEA;
}


.pricing {
  position: fixed;
  right: 15%;
  top: 270px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 15px;
  width: 325px;
}
.part {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid rgb(199, 199, 199);
}


.last-part {
  padding: 10px 15px 10px 15px;
}



.pay-button button {
  width: 100px;
  padding: 15px 0;
  border: 0;
  border-radius: 25px;
  outline: none;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: #225AEA;
  transition: .2s linear;
}

.pay-button button:hover {
  cursor: pointer;
  color: #225AEA;
  background-color: #a9bff5;
}

.pay-button2 {
  display: none;
}

.view {
  display: table-cell;
}
}












@media (max-width: 1023px) { 

  .view {
    display: none;
  }

  .priceDiv {
    display: flex;
  }

  .pay-button2 {
    display: block;
    top: 5px;
  }
  
  .pay-button2 button {
    width: 100%;
    padding: 15px 0;
    border: 0;
    border-radius: 25px;
    outline: none;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #225AEA;
    transition: .2s linear;
  }
  .cart {
    padding-left: 2%;
    padding-right: 2%;
    min-height: 880px;
  }

  h1 {
    margin-right: 10px;
  }
  
  .top {
    display: none;
    text-align: center;
  }
  
  .ammount div {
    padding: 0px 5px 0px 5px;
  }
  
  .back-button button {
    display: none;
    top: 145px;
    left: 4%;
    width: 100px;
    padding: 15px 0;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
  }
  
  .back-button button:hover {
    cursor: pointer;
    color: #225AEA;
    background-color: #F2F6FF;
  }
  
  .bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .left {
    width: 90%;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
      table {
          border-collapse: collapse;
          width: 100%;
      }
  
      th, td {
          align-items: center;
          padding: 8px;
          border-bottom: 1px solid #ddd;
          text-align: center;
      }
  
      .td {
        text-align: center;
      }
  
      .thumbnail img {
          width: 100px;

      }
  
      .product-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
  
      .product-actions {
          display: flex;
          justify-content: center;
      }
  
      .minus-btn,
      .plus-btn {
          background-color: #f0f0f0;
          border: none;
          padding: 5px 10px;
          font-size: 15px;
          cursor: pointer;
          color: black;
      }
  
      .ammount {
        width: 25px;
      }
  
      .minus-btn:hover,
      .plus-btn:hover {
          background-color: #e0e0e0;
      }
  
      .view-product {
          color: #0366d6;
          text-decoration: none;
      }
  
      .view-product:hover {
          text-decoration: underline;
      }
  
  
  .right {
    width: 100%;
    height: 132.88px;
  }
  
  .blue {
    color: #225AEA;
  }
  
  
  .pricing {
    display: none;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 15px;
    width: 325px;
  }
  .part {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid rgb(199, 199, 199);
  }
  
  
  .last-part {
    padding: 10px 15px 10px 15px;
  }
  
  
  
  .pay-button button {
    width: 100px;
    padding: 15px 0;
    border: 0;
    border-radius: 25px;
    outline: none;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #225AEA;
    transition: .2s linear;
  }
  
  .pay-button button:hover {
    cursor: pointer;
    color: #225AEA;
    background-color: #a9bff5;
  }

}