
@media only screen and (min-width: 1024px) {

.container{
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-flow: column;
  }
  
  
  .container form{
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    padding-top: 130px;
  }
  
  .container form .inputBox{
    margin-top: 20px;
  }
  
  .container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
  }
  
  .container form .inputBox input,
  .container form .inputBox select{
    width: 100%;
    padding: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
  }
  
  .container form .flexbox{
    display: flex;
    gap:15px;
  }
  
  .container form .flexbox .inputBox{
    flex:1 1 150px;
  }
  
  .submit-btn-container {
    display: flex;
    justify-content: center;
  }
  
  .container form .submit-btn{
    width: 40%;
    background-color: #225AEA;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
  }
  
  .container form .submit-btn:hover{
    color: #225AEA;
    background-color: #a9bff5;
  }
  
  .container .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
  }
  
  .container .card-container .front{
    font-family: "Visa Sans", Arial, sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100px; left: 0;
    /* background: gray; */
    background-color: #225AEA;
    border-radius: 15px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
  }
  
  .container .card-container .front .image{
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .container .card-container .front .image img{
    height: 50px;
  }
  
  .container .card-container .front .image h1 {
    font-family: "Visa Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
    color: white;
    padding-left: 170px;
  }
  
  .container .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
  }
  
  .container .card-container .front .flexbox{
    display: flex;
  }
  
  .container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
  }
  
  .container .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
  }
  
  .container .card-container .back{
    position: absolute;
    top: -100px; left: 0;
    height: 100%;
    width: 100%;
    background-color: #225AEA;
    border-radius: 15px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
  }
  
  .container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
  }
  
  .container .card-container .back .box{
    padding: 0 20px;
  }
  
  .container .card-container .back .box span{
    color:#fff;
    font-size: 15px;
  }
  
  .container .card-container .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
  }
  
  .container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
  }

  .container .card-container .back .box h1{
    color: white;
  }
  
}



















  @media (max-width: 1023px) {
    .container{
      width: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
      
    
    .container form{
      background: #ffffff;
      border-radius: 5px;
      width: 100%;
    }
    
    .container form .inputBox{
      margin-top: 20px;
    }
    
    .container form .inputBox span{
      display: block;
      color:#999;
      padding-bottom: 5px;
    }
    
    .container form .inputBox input,
    .container form .inputBox select{
      width: 90%;
      padding: 10px;
      border:1px solid rgba(0,0,0,.3);
      color:#444;
    }
    
    .container form .flexbox{
      width: 93%;
      display: flex;
    }
    
    .container form .flexbox .inputBox{
      flex:1 1 140px;
    }
    
    .submit-btn-container {
      display: flex;
      justify-content: center;
    }
    
    .container form .submit-btn{
      width: 40%;
      background-color: #225AEA;
      margin-top: 20px;
      padding: 10px;
      font-size: 20px;
      color:#fff;
      border-radius: 10px;
      cursor: pointer;
      transition: .2s linear;
    }
    
    .container form .submit-btn:hover{
      color: #225AEA;
      background-color: #a9bff5;
    }
    
    .container .card-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -150px;
      position: relative;
      height: 250px;
      width: 95%;
    }
    
    .container .card-container .front{
      font-family: "Visa Sans", Arial, sans-serif;
      height: 80%;
      width: 100%;
      max-width: 340px;
      /* background: gray; */
      background-color: #225AEA;
      border-radius: 15px;
      backface-visibility: hidden;
      box-shadow: 0 15px 25px rgba(0,0,0,.2);
      padding:20px;
      transform:perspective(1000px) rotateY(0deg);
      transition:transform .4s ease-out;
    }
    
    .container .card-container .front .image{
      align-items:center;
      justify-content: space-between;
      padding-top: 10px;
    }
    
    .container .card-container .front .image img{
      height: 50px;
    }
    
    .container .card-container .front .image h1 {
      font-family: "Visa Sans", Arial, sans-serif;
      font-weight: 600;
      font-size: 27px;
      letter-spacing: 1px;
      color: white;
      padding-left: 170px;
    }
    
    .container .card-container .front .card-number-box{
      padding:5px 0;
      font-size: 18px;
      color:#ffffff;
    }
    
    .container .card-container .front .flexbox{
      display: flex;
    }
    
    .container .card-container .front .flexbox .box:nth-child(1){
      margin-right: auto;
    }
    
    .container .card-container .front .flexbox .box{
      font-size: 15px;
      color:#ffffff;
    }
    
    .container .card-container .back{
      max-width: 340px;
      position: absolute;
      top: 0px; left: 0;
      height: 80%;
      width: 100%;
      background-color: #225AEA;
      border-radius: 15px;
      padding: 20px 20px 20px 0;
      text-align: right;
      backface-visibility: hidden;
      box-shadow: 0 15px 25px rgba(0,0,0,.2);
      transform:perspective(1000px) rotateY(180deg);
      transition:transform .4s ease-out;
    }
    
    .container .card-container .back .stripe{
      background: #000;
      width: 100%;
      margin: 10px 0;
      height: 50px;
    }
    
    .container .card-container .back .box{
      padding: 0 20px;
    }
    
    .container .card-container .back .box span{
      color:#fff;
      font-size: 15px;
    }
    
    .container .card-container .back .box .cvv-box{
      height: 50px;
      padding: 10px;
      margin-top: 5px;
      color:#333;
      background: #fff;
      border-radius: 5px;
      width: 100%;
    }
    
    .container .card-container .back .box img{
      margin-top: 30px;
      height: 30px;
    }
  
    .container .card-container .back .box h1{
      margin-top: 5px;
      color: white;
    }
  }